html[data-theme="default"] {
  color-scheme: light;

  --primary: hsl(210 100% 63%);
  --primary-foreground: hsl(0 0 100%);

  --success: hsl(100 54% 49%);
  --success-foreground: hsl(0 0 100%);

  --info: hsl(220 4% 58%);
  --info-foreground: hsl(0 0 100%);

  --warning: hsl(36 77% 57%);
  --warning-foreground: hsl(0 0 100%);

  --danger: hsl(0 87% 69%);
  --danger-foreground: hsl(0 0 100%);

  @for $i from 0 through 20 {
    $lightness: 100% - $i * 5%;
    @if $i == 0 {
      --basic: hsl(220 10% #{$lightness});
    }
    @else {
      --basic-#{$i}: hsl(220 10% #{$lightness});
    }
  }
}

html.dark[data-theme="default"] {
  color-scheme: dark;

  --primary: hsl(210 100% 63%);
  --primary-foreground: hsl(0 0 100%);

  --success: hsl(100 54% 49%);
  --success-foreground: hsl(0 0 100%);

  --info: hsl(220 4% 58%);
  --info-foreground: hsl(0 0 100%);

  --warning: hsl(36 77% 57%);
  --warning-foreground: hsl(0 0 100%);

  --danger: hsl(0 87% 69%);
  --danger-foreground: hsl(0 0 100%);

  @for $i from 0 through 20 {
    $lightness: 0% + $i * 5%;
    @if $i == 0 {
      --basic: hsl(220 10% #{$lightness});
    }
    @else {
      --basic-#{$i}: hsl(220 10% #{$lightness});
    }
  }
}
